<nav class="container">
    <div class="row">
        <div class="col-sm-12">
            <ul>
                <li><a href="#!" ui-sref="signIn">Sign In</a></li>
                <li><a href="#!" ui-sref="signUp">Sign up</a></li>

            </ul>
        </div>
    </div>
</nav>