<nav class="container">
    <div class="row">
        <div class="col-sm-12">
            <ul>
                <li><a href="/login">Login</a></li>
                <li><a href="#!">Hi</a></li>
                <li><a href="/logout">Logout</a></li>
                <%if (msg){%>
                    <li>dwedwe</li>
                <%}%>
            </ul>
        </div>
    </div>
</nav>