<nav class="subnav">
    <ul>
        <li><a href="#!" ui-sref="portfolios">Portfolios</a></li>
        <li><a href="#!" ui-sref="compare">Compare Portfolios</a></li>
        <li><a href="/dashboard/logout">Logout</a></li>
    </ul>
</nav>