<html ng-app="akjch">
<head>
    <title>
        <%=name.split(' ')[0]%>'s Dashboard
    </title>
        <!--bower:css-->
        <link rel="stylesheet" href="../lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="../lib/font-awesome/css/font-awesome.css" />
        <!--endbower-->
        <!--inject:css-->
    <link rel="stylesheet" href="/css/dashboard.css">
        <!--endinject-->

</head>
<body>
<header>
    <nav class="container-fluid">
        <% include ../partials/subnav.ejs%>
    </nav>
    <h2 class="text-center"><span id="user"><%=name%></span>'s Dashboard</h2>

</header>
<section class="portfolio container-fluid">
    <div class="row">
        <div ui-view></div>
    </div>
</section>
<!--<br>
    Username: =user
    <br>
    id: =id-->
<section class="portfolio container-fluid">

</section>

<!--<a href="/dashboard/logout">Logout</a>-->
<!--bower:js-->
<script src="../lib/angular/angular.js"></script>
<script src="../lib/angular-ui-router/release/angular-ui-router.js"></script>
<script src="../lib/jquery/dist/jquery.js"></script>
<script src="../lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="../lib/angular-toArrayFilter/toArrayFilter.js"></script>
<script src="../lib/highcharts-ng/dist/highcharts-ng.js"></script>
<!--endbower-->
<!--inject:js-->
<script src="/js/app.js"></script>
<script src="/js/factories/portfolioFactory.js"></script>
<script src="/js/factories/stockFactory.js"></script>
<script src="/js/controllers/compareCtrl.js"></script>
<script src="/js/controllers/portfolioCtrl.js"></script>
<script src="/js/controllers/signinCtrl.js"></script>
<script src="/js/controllers/signupCtrl.js"></script>
<!--endinject-->
<script src="http://code.highcharts.com/stock/highstock.src.js"></script>
</body>

</html>