<html ng-app="akjch">
<head>
    <title>
        Dashboard
    </title>
        <!--bower:css-->
        <link rel="stylesheet" href="../lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="../lib/font-awesome/css/font-awesome.css" />
        <!--endbower-->
        <!--inject:css-->
        <!--endinject-->

</head>
<body>
<h2><span id="user"><%=name%></span>'s Dashboard</h2>
<br>
    Username: <%=user%>
    <br>
    id: <%=id%>


<a href="/dashboard/logout">Logout</a>
<!--bower:js-->
<script src="../lib/angular/angular.js"></script>
<script src="../lib/angular-ui-router/release/angular-ui-router.js"></script>
<script src="../lib/jquery/dist/jquery.js"></script>
<script src="../lib/bootstrap/dist/js/bootstrap.js"></script>
<!--endbower-->
<!--inject:js-->
<script src="/js/app.js"></script>
<script src="/js/controllers/signinCtrl.js"></script>
<script src="/js/controllers/signupCtrl.js"></script>
<!--endinject-->

</body>

</html>