<html ng-app="akjch">
<head>
    <title>
        <%=name.split(' ')[0]%>'s Dashboard
    </title>
        <!--bower:css-->
        <link rel="stylesheet" href="../lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="../lib/font-awesome/css/font-awesome.css" />
        <!--endbower-->
        <!--inject:css-->
    <link rel="stylesheet" href="/css/dashboard.css">
        <!--endinject-->

</head>
<body>
<header>
    <div class="soft-nav">
            <ul>
                <li><a href="#!" ui-sref="portfolios">Portfolios</a></li>
                <li><a href="#!" ui-sref="compare">Compare Portfolios</a></li>
                <li><a href="/dashboard/logout">Logout</a></li>
            </ul>
    </div>
    <div class="user">
        <span><%=name%></span>
    </div>


</header>
<section class="container-fluid">
    <div class="row">
        <div ui-view>
            <h1 class="welcome">Hi, <span><%=name.split(' ')[0]%></span></h1>
            <p class="subtext">How would you like to begin?</p>

            <div class="cards col-sm-3 col-sm-offset-2" ui-sref="portfolios">
                <div class="portfolio card">
                    <div class="ico"></div>
                    <h4>Portfolios</h4>
                    <p>Add, view or edit your existing portfolios from our list of stocks.
                    </p>

                </div>
            </div>
            <div class="cards col-sm-3 col-sm-offset-2" ui-sref="compare">
                <div class="compare card">
                    <div class="ico"></div>
                    <h4>Compare</h4>
                    <p>Compare the historic data of your portfolios or
                        see the status of any stock.
                    </p>

                </div>
            </div>
        </div>
    </div>
</section>
<!--<br>
    Username: =user
    <br>
    id: =id-->
<section class="portfolio container-fluid">

</section>

<!--<a href="/dashboard/logout">Logout</a>-->
<!--bower:js-->
<script src="../lib/angular/angular.js"></script>
<script src="../lib/angular-ui-router/release/angular-ui-router.js"></script>
<script src="../lib/jquery/dist/jquery.js"></script>
<script src="../lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="../lib/angular-toArrayFilter/toArrayFilter.js"></script>
<script src="../lib/highcharts-ng/dist/highcharts-ng.js"></script>
<!--endbower-->
<!--inject:js-->
<script src="/js/app.js"></script>
<script src="/js/factories/portfolioFactory.js"></script>
<script src="/js/factories/stockFactory.js"></script>
<script src="/js/controllers/compareCtrl.js"></script>
<script src="/js/controllers/portfolioCtrl.js"></script>
<script src="/js/controllers/signinCtrl.js"></script>
<script src="/js/controllers/signupCtrl.js"></script>
<!--endinject-->
<script src="http://code.highcharts.com/stock/highstock.src.js"></script>
</body>

</html>