<html ng-app="akjch">


<head>
    <title>AKJ Mini Project</title>
    <!--bower:css-->
    <link rel="stylesheet" href="../lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="../lib/font-awesome/css/font-awesome.css" />
    <!--endbower-->
    <!--inject:css-->
    <!--endinject-->
</head>

<body>
    <% include ../partials/nav%>
    <div ui-view></div>
    <!--bower:js-->
    <script src="../lib/angular/angular.js"></script>
    <script src="../lib/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="../lib/jquery/dist/jquery.js"></script>
    <script src="../lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../lib/angular-toArrayFilter/toArrayFilter.js"></script>
    <!--endbower-->
    <!--inject:js-->
    <script src="/js/app.js"></script>
    <script src="/js/factories/portfolioFactory.js"></script>
    <script src="/js/factories/stockFactory.js"></script>
    <script src="/js/controllers/portfolioCtrl.js"></script>
    <script src="/js/controllers/signinCtrl.js"></script>
    <script src="/js/controllers/signupCtrl.js"></script>
    <!--endinject-->
</body>

</html ng-app="akjch">