<div class="saved-portfolios col-sm-3">
    <h3 ng-if="portfolios.length">Your Portfolios</h3>
    <h4 class="alert-user" ng-if="!portfolios.length">You do not have any Portfolios.</h4>
    <hr>
    <h4 ng-if="!portfolios.length">Click <a href="#!" ui-sref="portfolios">here</a> to create one</h4>

    <div>
        <ul ng-repeat ="portfolio in portfolios" style="list-style: none;">
            <li class="userP"><a href="#!" ng-click="getHistory(portfolio.stocks, portfolio)" >{{portfolio.name}}</a></li>
            <li>
                <ul class="userstocks" ng-repeat ="stock in portfolio.stocks">
                    <li class="userstock"><a href="#!" ng-click="getMoreDetails(stock)">{{stock}}</a></li>
                </ul>
            </li>


        </ul>
    </div>
    <div ng-if="!chartConfig.loading && chartloaded && !stockChartSelected" class="addPortfolios">
        <h4>Add Individual Stock to compare</h4>

        <input type="text" ng-model="searchText" placeholder="type to search">
        <div class="stocks">
            <ul ng-repeat="stock in MasterStocks | toArray | filter: searchText">
                <li>
                    <ul class="stock">
                        <li class="stock-ticker">{{stock.ticker}}</li>
                        <li class="stock-name"><em>{{stock.name}}</em></li>
                        <li><a href="#!" ng-click="addIndividualStock(stock.ticker)"><i class="fa fa-line-chart" aria-hidden="true"></i> Compare</a></li>
                    </ul>
                </li>
            </ul>
        </div>

    </div>
</div>



<div ng-if="!portfolioChartSelected && !stockChartSelected" class="alert-user compare col-sm-9">
    <h4>Compare Historical Data</h4>
    <hr>
    <p>This is where you can do a comprehensive analysis of your portfolios.
        <br>
        Click on your portfolio names to see their historical data, add more stocks from the list to see a versus comparison.
        <br>
        You can also click on individual stocks in your portfolio to see just their results.</p>
</div>

<div ng-if="portfolioChartSelected" class="col-sm-9">
    <highchart id="chart1" config="portfolioChartConfig"></highchart>
</div>
<div ng-if="stockChartSelected" class="col-sm-9">
    <highchart id="chart2" config="stockChartConfig"></highchart>
</div>



<!--List of stocks-->
