<div class="addPortfolios col-sm-3">
    <h4>Add portfolios</h4>

    <input type="text" name="portfolioName" ng-model="portfolioName" placeholder="Begin by typing your portfolio name">
    <input type="text" ng-model="searchText" placeholder="type name or trade name to search">
    <div class="stocks">
        <ul ng-repeat="stock in MasterStocks | toArray | filter: searchText">
            <li>
                <ul class="stock">
                    <li class="stock-ticker">{{stock.ticker}}</li>
                    <li class="stock-name"><em>{{stock.name}}</em></li>
                    <li><a href="#!" ng-if= "portfolioName" ng-click="addPortfolio(stock,portfolioName)"><i class="fa fa-plus" aria-hidden="true"></i> Add to
                        <br>{{portfolioName}}</a></li>
                </ul>
            </li>
        </ul>
    </div>

</div>

<!--User's Unsaved Portfolios-->
<div class="col-sm-6 unsaved">
    <div class="alert-user" ng-if="!tempPortfolios.length">
        <h4>This is where you can add new portfolios or delete old ones</h4>
        <hr>
        <p>To add a new portfolio, start by naming your portfolio under 'Add Portfolios' section, then, select the
        stocks you would like to add. You can also type the name of the stock or the trade name to filter through the list.
            After you're done, don't forget to save them.</p>
        <p>You can create as many portfolios as you like.</p>

    </div>

    <ul ng-repeat = "portfolio in tempPortfolios">
            <div class="temp-portfolio">
                <a class="deleteP" href="#" ng-click="removePortfolio(portfolio.name)"><i class="fa fa-times fa-2x" aria-hidden="true"></i></a>
                <li class="portfolio-nameU">{{portfolio.name}}</li>
                <ul class="stockU" ng-repeat = "stock in portfolio.stocks">
                    <li class="stock-tickerU">{{stock}}</li>
                    <li class="remove-stockU"><a href="#" ng-click="removeStock(portfolio.name,stock)"><i class="fa fa-times" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </ul>
    <a class="update" href="#!" ng-if="tempPortfolios.length" ng-click="updatePortfolios()"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save All</a>
</div>

<!--User's Saved portfolios-->
<div class="saved-portfolios col-sm-3">
    <h3 ng-if="userPortfolios.length">Your Portfolios</h3>


    <div class="user-portfolio">
    <ul class="user-portfolios" ng-repeat = "portfolio in userPortfolios">

            <a class="deletePortfolio"href="#!" ng-click ="deletePortfolio(portfolio.name)"><i class="fa fa-times fa-2x" aria-hidden="true"></i></a>
            <li class="userP">{{portfolio.name}}</li>
            <ul class="userstocks" ng-repeat ="stock in portfolio.stocks">
                    <li class="userstock">{{stock}}</li>
            </ul>

    </ul>
    </div>
</div>