<div class="col-sm-6">
    <h3>Add portfolios</h3>
    <input type="text" ng-model="portfolioName" placeholder="name your portfolio..">
    <input type="text" ng-model="searchText" placeholder="begin typing...">
    <ul ng-repeat="stock in MasterStocks | toArray | filter: searchText">
        <li>
            <ul>
                <li>{{stock.ticker}}</li>
                <li>{{stock.name}}</li>
                <li><a href="#!" ng-click="addPortfolio(stock,portfolioName)">Add</a></li>
            </ul>
        </li>
    </ul>

</div>

<!--User's Unsaved Portfolios-->
<div class="col-sm-3">
    <ul ng-repeat = "portfolio in tempPortfolios">
            <div class="temp-portfolio" style="background-color: #eee">
                <a href="#" ng-click="removePortfolio(portfolio.name)">Remove</a>
                <li>{{portfolio.name}}</li>
                <ul ng-repeat = "stock in portfolio.stocks">
                    <li>{{stock}}</li>
                    <li><a href="#" ng-click="removeStock(portfolio.name,stock)">Remove</a></li>
                </ul>
            </div>
        </ul>
    <a href="#!" ng-if="tempPortfolios.length" ng-click="updatePortfolios()">Update</a>
</div>
<div class="col-sm-3">
    <h3 ng-if="userPortfolios.length">Your Portfolios</h3>
    <h4 ng-if="!userPortfolios.length">You do not have any Portfolios.</h4>
    <hr>
    <h4 ng-if="!userPortfolios.length">Let's begin by adding one</h4>

    <ul ng-repeat = "portfolio in userPortfolios">
        <div class="user-portfolio" style="background-color: #eee">
            <a href="#!" ng-click ="deletePortfolio(portfolio.name)">X</a>
            <li>{{portfolio.name}}</li>
            <ul ng-repeat ="stock in portfolio.stocks">
                <li>{{stock}}</li>
            </ul>
        </div>
    </ul>
</div>