<form name="signup" action="/auth/signup" method="POST">
    <input type="text" name="uname" id="username" placeholder="username..." required  autocomplete="off">
    <input type="password" name="pass" id="password" placeholder="password..." required autocomplete="off">
    <input type="email" name="email" id="email" placeholder="email" required autocomplete="off">
    <input type="name" name="name" id="name" placeholder="your full name" required autocomplete="off">
    <input type="submit" value ="Go!">
</form>






<!--

<form ng-submit="send(user)">
<input type="text" placeholder="enter username" ng-model="user.name">
<input type="password" placeholder="enter password" ng-model="user.password">
<input type="submit" value="Sign Up">

</form>
-->