
<form name="signin" action="/auth/signin" method="POST">
    <input type="text" name="uname" id="username" placeholder="username..." required autocomplete="off">
    <input type="password" name="pass" id="password" placeholder="password..." required autocomplete="off">
    <input type="submit" value ="Go!">
</form>


<!--
<form ng-submit="send(user)">
    <input type="text" placeholder="enter username" ng-model ="user.name">
    <input type="password" placeholder="enter password" ng-model="user.password">
    <input type="submit" value="Sign In">
</form>-->
